.create-account-description-container {
  padding: 15px 15px 0 15px;
  max-width: 450px;
}

.create-account-email {
  display: none !important;
}

button#login-link {
  display: none;
}

.full-name {
  display: inline-block;
  vertical-align: top;

  &.add-margin {
    margin-right: 10px !important;
  }
}

.wiki-username {
  display: inline-block;
  vertical-align: top;

  img {
    height: 1em;
    width: 1em;
  }
}
